html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffffc1;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
    width: 300px;
    margin-bottom: 20px;
}

img{
    width: 30px;
    height: 30px;
}
.link-usuarios {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    border-radius: 6px;
    border: 2px solid #0056b3;
    transition: background-color 0.3s, border-color 0.3s;
    text-align: center;
}

.link-usuarios:hover {
    background-color: #0056b3;
    border-color: #003f7f;
}
.container {
    background-color: rgb(255, 255, 255);
    padding: 40px 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}

h2 {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #284ea7
}

form { 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
}

input, button {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 14px;
}

input {
    border: 1px solid #ccc;
}

button { 
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid;
    margin-top: 10px;
    transition: 0.3s;
}

button:hover {
    background-color: #218838;
}

.mensagem {
    position: fixed;
    top: 20px;
    right: -300px;
    padding: 15px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1); ;
    transition: right 0.5 ease-out, opacity 0.5 ease-in-out;
    opacity: 0;
    cursor: pointer;
    max-width: 300px;
    z-index: 1000;
}

.mensagem.sucesso {
    background-color: #28a745;
}

.mensagem.erro {
    background-color: #dc3545 !important;
}

.mensagem.visivel {
    right: 20px;
    opacity: 1;
}

.oculto {
    display: none;
}